
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Форма добавления новых дат</h3>
    <form method="post" action="">
       <table>
            <tr>
                <td><p>Введите начальную дату </p></td>
                <td><input type="date" name="start" /> </td>
            </tr>
            <tr>
                <td><p>Введите конечную дату</p></td>
                <td>
                    <input type="date" name="end" />
                </td>
            </tr>
            <tr><td><input type="submit" value="Создать" /> </td><td></td></tr>
        </table>
    </form>
</div>
